node_modules/
.vega/
*.vpkg
dist/
build/
.DS_Store
*.log
.env
.env.local
.env.production
firebase.env
src/firebase/.env
web-companion/.env
web-companion/.env.production
web-companion/node_modules/
web-companion/dist/
